.img, .img-galeria, .img-item-galeria, .img-slide {
  height: 100%;
  width: 100%;
}

.display-grid, .galeria-html, .footer-block1 {
  display: grid;
  justify-items: center;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsla(0deg, 0%, 9%, 0.664);
  height: 40px;
}
.nav-list .nav-list-item a:hover {
  font-size: 17px;
  transition: 0.3s;
  color: #333333;
}

.carta {
  margin: 10px;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, hsla(240deg, 27%, 19%, 0.603), hsla(245deg, 39%, 28%, 0.603), hsla(246deg, 55%, 10%, 0.603)), url(../img/ver-la-carta.jpg); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, hsla(240deg, 27%, 19%, 0.603), hsla(245deg, 39%, 28%, 0.603), hsla(246deg, 55%, 10%, 0.603)), url(../img/ver-la-carta.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.galeria {
  margin: 10px;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, hsla(240deg, 27%, 19%, 0.603), hsla(245deg, 39%, 28%, 0.603), hsla(246deg, 55%, 10%, 0.603)), url(../img/ver-karaoke.jpg); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, hsla(240deg, 27%, 19%, 0.603), hsla(245deg, 39%, 28%, 0.603), hsla(246deg, 55%, 10%, 0.603)), url(../img/ver-karaoke.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
}
.main-container h2 {
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 30px;
  color: rgb(218, 153, 67);
}
.main-container .content-main h3 {
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 30px;
  color: white;
}
.main-container .content-main button {
  background-color: transparent;
  border: 1px solid whitesmoke;
  height: 30px;
  width: 120px;
}
.main-container .content-main button a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
}

.main-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-contacto h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
}
.main-contacto form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-contacto form .input-form-contacto {
  margin: 5px;
  border: none;
  padding: 7px;
  font-family: "Roboto", sans-serif;
  outline: none;
  border-bottom: #c31432 2px solid;
  color: black;
}
.main-contacto form input::placeholder {
  color: black;
}
.main-contacto form textarea {
  resize: none;
}
.main-contacto form button {
  border: none;
  background-color: #c31432;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.seccion-carta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quienes-somos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.img-item-galeria {
  object-fit: cover;
}

.galeria-html {
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  margin: 30px;
}

.main-sobre-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-sobre-nosotros h1 {
  font-family: "Source Sans Pro", sans-serif;
}
.main-sobre-nosotros p {
  font-family: "Source Sans Pro", sans-serif;
}

/*# sourceMappingURL=style2.css.map */
