<<<<<<< HEAD

#grid{  
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"header header header"
                        "main main main"
                        "footer footer footer";
}
#header{
    grid-area: header;
}
#main{
    grid-area: main;
}
#footer{
    grid-area: footer;
}
.img-container{
    grid-area: a3;
    justify-self: center;
    align-self: center;
}
.header-container{
    background: #c31432;  /* fallback for old browsers */
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #dd1818, hsla(0, 0%, 20%, 0.616)),url(../img/fondo.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #dd1818, hsla(0, 0%, 20%, 0.616)), url(../img/fondo.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: grid;
    
}    
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.nav-list-item{
    list-style-type: none;
}
.nav-list-item>a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.footer-line{
    width: 90%;
    margin: auto;
}
.copa-container{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 1px solid rgb(7, 7, 7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.copa-img{
    width:60%;
    height: 60%;
}
.whatsapp{
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.h4-footer{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-bottom: 0;
}
.telefono{
    display: flex;
    align-items: center;
    justify-content: start;
}
.h5-footer{
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.list-container-footer{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.list-item-footer{
    list-style-type: none;  
}
.list-item-footer>a{
    text-decoration: none;
    margin: 0;
    color: black;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1;
}
.whatsapp-caja{
    display: flex;
    align-items: center;
    background-color:#00bb2d;
    border-radius: 50%;
    padding: 10px;
    justify-content: center;
}
.img-whatsapp{  
    width: 30px;
}
.icono-whatsapp{
    text-decoration: none;
    color: white;
}
.h4-whatsapp{
    font-size: 14px;
    padding: 5px;
}

.quienes-somos{   
    margin: 10px;    
    flex-wrap: wrap; 
}
.ubicacion{
    margin: 10px;
}

.tragos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}
.h1-carta{
    font-family:'Source Sans Pro', sans-serif;  
}
.p-carta{
    font-family: 'Roboto', sans-serif;
}
.nombre-trago{
    font-family: 'Roboto', sans-serif;
}
.precio-trago{
    font-family: 'Roboto', sans-serif;
}
.sobre-trago{
    font-family: 'Roboto', sans-serif;
}
.img-slide{
        object-fit: cover;
}
.info-trago{
    margin: 15px;
}
.marco{
    box-shadow: 4px 0px 10px #c31432;
}
@media screen and (min-width:1024px) {
    .navbar{
        display: none;
    }
    #grid{  
    grid-template-rows: 600px auto 200px;
    }
    .img-item{
        height: 300px;
    }
    .header-container{
        height: 600px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px 300px 150px;
        grid-template-areas:"a1 a1 a1"
                            "a2 a3 a4"
                            "a5 a7 a8";
    }
    .nav-container{
        grid-area: a1;
    }
    .h1-main{
        font-size: 85px;    
    }
    .h2-main{
        font-size: 32px;
    }
    .content-main{
        display: flex;
    }
    
    .carta{
        width: 500px;
        height: 500px;
    }
    .galeria{       
        width: 500px;
        height: 500px;
    }
    .footer-block1{
        grid-template-areas: "a1 a2  a3 a4";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
    }
    .footer-left{
        grid-area: a1;
    }
    .footer-mid1{
        grid-area: a2;
    }
    .footer-mid2{
        grid-area: a3;
    }
    .footer-rigth{
        grid-area: a4;
    }
    .h3-content-main{
        font-size: 40px;
    }
    .galeria-html{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(6,450px);
        grid-template-areas:"a1 a2 a2"
                            "a1 a3 a3"
                            "a4 a4 a6"
                            "a5 a5 a6"
                            "a8 a7 a7"
                            "a8 a9 a9";
    }
    .galeria1{
        grid-area: a1;
    }
    .galeria2{
        grid-area: a2;
    }
    .galeria3{
        grid-area: a3;
    }
    .galeria4{
        grid-area: a4;
    }
    .galeria5{
        grid-area: a5;
    }
    .galeria6{
        grid-area: a6;
    }
    .galeria7{
        grid-area: a7;
    }
    .galeria8{
        grid-area: a8;
    }
    .galeria9{
        grid-area: a9;
    }
    .img-item-galeria{
        object-fit: cover;   
    }
    
    .img-galeria{ 
        transition: 1s;
    }
    .img-galeria:hover{
        transform: scale(1.03);
    }
    .h1-contacto{
        font-size: 60px;
    }
    .input-form-contacto{
        width: 500px;
    }
    .input-form-contacto:hover{
        background-color: #cecece;
    }
    .input-enviar-form{
        width: 250px;
    }
    .p-container-quienes-somos{
        width: 500px;
    }
    .p-quienes-somos{
        font-size: 20px;
        margin:20px;
    }
    .h1-sobre-nosotros{
        font-size: 60px;
    }
    .img-quienes-somos{
        height: 300px;
    }
    .ubicacion-item-container{
        height: 300px;
    }
    .marco{
        width: 500px;
        height: 500px;
        margin: 20px;
    }
    .marco:hover{
        transform: scale(1.05);
        transition: 0.7s;
    }
    .carousel-item{
        width: 500px;
        height: 380px;
    }
    .nombre-trago{
        font-size: 20px;
    }
    .precio-trago{
        font-size: 18px;
    }
    .sobre-trago{
        font-size: 14px;
    
    }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .navbar{
        display: none;
    }
    #grid{  
        grid-template-rows: 450px auto 200px;
    }
    .img-item{
        height: 220px;
    }
    .header-container{
    height: 450px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 100px 200px 100px;
    grid-template-areas:"a1 a1 a1"
                        "a2 a3 a4"
                        "a5 a7 a8";
    }
    .nav-container{
    grid-area: a1;
    }
    .h1-main{
            font-size: 65px;    
    }
    .h2-main{
        font-size: 27px;
    }
    .content-main{
        display: flex;
        flex-direction: column;
    }
    .carta{
        width: 500px;
        height: 500px;
    }
    .galeria{       
        width: 500px;
        height: 500px;
    }
    .footer-block1{
         grid-template-areas: "a1 a2  a3 a4";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
    }
    .footer-left{
        grid-area: a1;
    }
    .footer-mid1{
        grid-area: a2;
    }
    .footer-mid2{
        grid-area: a3;
    }
    .footer-rigth{
        grid-area: a4;
    }
    .h3-content-main{
        font-size: 40px;
    }
    .galeria-html{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(6,250px);
        grid-template-areas:"a1 a2 a2"
                            "a1 a3 a3"
                            "a4 a4 a6"
                            "a5 a5 a6"
                            "a8 a7 a7"
                            "a8 a9 a9";
    }
    .galeria1{
        grid-area: a1;
    }
    .galeria2{
        grid-area: a2;
    }
    .galeria3{
        grid-area: a3;
    }
    .galeria4{
        grid-area: a4;
    }
    .galeria5{
        grid-area: a5;
    }
    .galeria6{
        grid-area: a6;
    }
    .galeria7{
        grid-area: a7;
    }
    .galeria8{
        grid-area: a8;
    }
    .galeria9{
        grid-area: a9;
    }
    .img-galeria{ 
        animation-duration: 1s;
        animation-name: zoom;
        animation-delay: 3s;
    } 
    @keyframes zoom{
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(1.03);
        }
    }
    .h1-contacto{
        font-size: 60px;
    }
    .input-form-contacto{
        width: 500px;
    }
    .input-form-contacto:hover{
        background-color: #cecece;
    }
    .input-enviar-form{
        width: 250px;
    }
    .p-container-quienes-somos{
        width: 300px;
    }
    .p-quienes-somos{
        font-size: 18px;
        margin:20px;
    }
    .h1-sobre-nosotros{
        font-size: 40px;
    }
    .img-quienes-somos{
        height: 200px;
    }
    .ubicacion-item-container{
        height: 200px;
    }
    .marco{
        width: 400px;
        height: 400px;
        box-shadow: 4px 0px 0px #c31432;
        margin: 20px;
    }
    .marco:hover{
        transform: scale(1.05);
        transition: 0.7s;
    }
    .carousel-item{
        width: 400px;
        height: 280px;
    }
    
    .nombre-trago{
        font-size: 18px;
    }
    .precio-trago{
        font-size: 16px;
    }
    .sobre-trago{
        font-size: 12px;
    
    }
    
        
}


@media screen and (max-width:767px){
    .nav-container{
        display: none;
    }
    #grid{  
    grid-template-rows: 330px 1fr 350px;
    }
    .img-item{
        height: 100px;
    }
    .header-container{
        height: 330px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 80px 150px 80px;
        grid-template-areas:"a1 a1 a1"
                        "a2 a3 a4"
                        "a5 a7 a8";
    }
    .navbar{
        grid-area: a1;
        padding: 0;
        height: 45px;
    }
    .container-fluid{
        background-color: hsl(0, 81%, 31%);
        padding: 0;
    }
    .navbar-nav{
        background-color: #8f8f8f4b;
    }
    .navbar-nav>a{
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;   
    }
    .h1-main{
        font-size: 30px;    
    }
    .h2-main{
        font-size: 18px;
    }
    .content-main{
        display: flex;
        flex-direction: column;
    }
    .carta{
        width: 250px;
        height: 250px;
    }
    .galeria{       
        width: 250px;
        height: 250px;
    }
    .h3-content-main{
        font-size: 20px;
    }
    .footer-block1{
        grid-template-areas:"a1 a2"
                            "a3 a4";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 10px;
    }
    .footer-left{
        grid-area: a1;
    }
    .footer-mid1{
        grid-area: a2;
    }
    .footer-mid2{
        grid-area: a3;
        margin-left: 20px;
    }
    .footer-rigth{
        grid-area: a4;
    }    
    .galeria-html{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,550px);
        grid-template-areas:"a1"
                            "a2"
                            "a3"
                            "a4"
                            "a5"
                            "a6"
                            "a7"
                            "a8"
                            "a9";
        justify-content: center;
    }
    .galeria1{
        grid-area: a1;
    }
    .galeria2{
        grid-area: a2;
    }
    .galeria3{
        grid-area: a3;
    }
    .galeria4{
        grid-area: a4;
    }
    .galeria5{
        grid-area: a5;
    }
    .galeria6{
        grid-area: a6;
    }
    .galeria7{
        grid-area: a7;
    }
    .galeria8{
        grid-area: a8;
    }
    .galeria9{
        grid-area: a9;
    }
    .img-galeria{ 
        animation-duration: 1s;
        animation-name: zoom;
        animation-delay: 3s;
    } 
    @keyframes zoom{
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(1.03);
        }
    }
    .h1-contacto{
        font-size: calc(30px+2vh);
    }
    .input-form-contacto{
        width: 200px;
    }
    .input-form-contacto:hover{
        background-color: #cecece;
    }
    .input-enviar-form{
        width: 150px;
        
    }
    .quienes-somos{
        flex-direction: column;
    }
    .p-container-quienes-somos{
        width: 300px;
        margin:20px;
    }
    .p-quienes-somos{
        font-size: 16px;
    }
    .h1-sobre-nosotros{
        font-size: 30px;
    }
    .img-quienes-somos{
        height: 200px;
    }
    .ubicacion-item-container{
        height: 200px;
        width: 300px;
    }
    .marco{
        width: 320px;
        height: 400px;
        margin: 20px;
    }
    .carousel-item{
        width:320px;
        height: 280px;
    }
    
    .nombre-trago{
        font-size: 18px;
    }
    .precio-trago{
        font-size: 16px;
    }
    .sobre-trago{
        font-size: 12px;
    
    }
    .tragos{
        flex-direction: column;
    }
}


=======
#grid{
    display:grid;
}
#grid{  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"header header header"
                        "main main main"
                        "footer footer footer";
}
#header{
    grid-area: header;
}
#main{
    grid-area: main;
}
#footer{
    grid-area: footer;
}
.img-container{
    grid-area: a3;
    justify-self: center;
    align-self: center;
}
.header-container{
    background: #c31432;  /* fallback for old browsers */
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #dd1818, hsla(0, 0%, 20%, 0.616)),url(../img/fondo.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #dd1818, hsla(0, 0%, 20%, 0.616)), url(../img/fondo.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: grid;
    
}    
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.nav-list-item{
    list-style-type: none;
}
.nav-list-item>a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.footer-line{
    width: 90%;
    margin: auto;
}
.copa-container{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 1px solid rgb(7, 7, 7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.copa-img{
    width:60%;
    height: 60%;
}
.whatsapp{
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.h4-footer{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-bottom: 0;
}
.telefono{
    display: flex;
    align-items: center;
    justify-content: start;
}
.h5-footer{
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.list-container-footer{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.list-item-footer{
    list-style-type: none;  
}
.list-item-footer>a{
    text-decoration: none;
    margin: 0;
    color: black;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1;
}
.whatsapp-caja{
    display: flex;
    align-items: center;
    background-color:#00bb2d;
    border-radius: 50%;
    padding: 10px;
    justify-content: center;
}
.img-whatsapp{  
    width: 30px;
}
.icono-whatsapp{
    text-decoration: none;
    color: white;
}
.h4-whatsapp{
    font-size: 14px;
    padding: 5px;
}

.quienes-somos{   
    margin: 10px;    
    flex-wrap: wrap; 
}
.ubicacion{
    margin: 10px;
}

.tragos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.h1-carta{
    font-family:'Source Sans Pro', sans-serif;  
}
.p-carta{
    font-family: 'Roboto', sans-serif;
}
.nombre-trago{
    font-family: 'Roboto', sans-serif;
}
.precio-trago{
    font-family: 'Roboto', sans-serif;
}
.sobre-trago{
    font-family: 'Roboto', sans-serif;
}
.img-slide{
        object-fit: cover;
}
@media screen and (min-width:1024px) {
    .navbar{
        display: none;
    }
    #grid{  
    grid-template-rows: 600px auto 200px;
    }
    .img-item{
        height: 300px;
    }
    .header-container{
        height: 600px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px 300px 150px;
        grid-template-areas:"a1 a1 a1"
                            "a2 a3 a4"
                            "a5 a7 a8";
    }
    .nav-container{
        grid-area: a1;
    }
    .h1-main{
        font-size: 85px;    
    }
    .h2-main{
        font-size: 32px;
    }
    .content-main{
        display: flex;
    }
    
    .carta{
        width: 500px;
        height: 500px;
    }
    .galeria{       
        width: 500px;
        height: 500px;
    }
    .footer-block1{
        grid-template-areas: "a1 a2  a3 a4";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
    }
    .footer-left{
        grid-area: a1;
    }
    .footer-mid1{
        grid-area: a2;
    }
    .footer-mid2{
        grid-area: a3;
    }
    .footer-rigth{
        grid-area: a4;
    }
    .h3-content-main{
        font-size: 40px;
    }
    .galeria-html{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(6,450px);
        grid-template-areas:"a1 a2 a2"
                            "a1 a3 a3"
                            "a4 a4 a6"
                            "a5 a5 a6"
                            "a8 a7 a7"
                            "a8 a9 a9";
    }
    .galeria1{
        grid-area: a1;
    }
    .galeria2{
        grid-area: a2;
    }
    .galeria3{
        grid-area: a3;
    }
    .galeria4{
        grid-area: a4;
    }
    .galeria5{
        grid-area: a5;
    }
    .galeria6{
        grid-area: a6;
    }
    .galeria7{
        grid-area: a7;
    }
    .galeria8{
        grid-area: a8;
    }
    .galeria9{
        grid-area: a9;
    }
    .img-item-galeria{
        object-fit: cover;   
    }
    
    .img-galeria{ 
        transition: 1s;
    }
    .img-galeria:hover{
        transform: scale(1.03);
    }
    .h1-contacto{
        font-size: 60px;
    }
    .input-form-contacto{
        width: 500px;
    }
    .input-form-contacto:hover{
        background-color: #cecece;
    }
    .input-enviar-form{
        width: 250px;
    }
    .p-container-quienes-somos{
        width: 500px;
    }
    .p-quienes-somos{
        font-size: 20px;
        margin:20px;
    }
    .h1-sobre-nosotros{
        font-size: 60px;
    }
    .img-quienes-somos{
        height: 300px;
    }
    .ubicacion-item-container{
        height: 300px;
    }
    .marco{
        width: 500px;
        height: 500px;
        box-shadow: 4px 0px 0px #c31432;
        margin: 20px;
    }
    .carousel-item{
        width: 500px;
        height: 400px;
    }
    .nombre-trago{
        font-size: 20px;
    }
    .precio-trago{
        font-size: 18px;
    }
    .sobre-trago{
        font-size: 14px;
    
    }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .navbar{
        display: none;
    }
    #grid{  
        grid-template-rows: 450px auto 200px;
    }
    .img-item{
        height: 220px;
    }
    .header-container{
    height: 450px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 100px 200px 100px;
    grid-template-areas:"a1 a1 a1"
                        "a2 a3 a4"
                        "a5 a7 a8";
    }
    .nav-container{
    grid-area: a1;
    }
    .h1-main{
            font-size: 65px;    
    }
    .h2-main{
        font-size: 27px;
    }
    .content-main{
        display: flex;
        flex-direction: column;
    }
    .carta{
        width: 500px;
        height: 500px;
    }
    .galeria{       
        width: 500px;
        height: 500px;
    }
    .footer-block1{
         grid-template-areas: "a1 a2  a3 a4";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
    }
    .footer-left{
        grid-area: a1;
    }
    .footer-mid1{
        grid-area: a2;
    }
    .footer-mid2{
        grid-area: a3;
    }
    .footer-rigth{
        grid-area: a4;
    }
    .h3-content-main{
        font-size: 40px;
    }
    .galeria-html{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(6,250px);
        grid-template-areas:"a1 a2 a2"
                            "a1 a3 a3"
                            "a4 a4 a6"
                            "a5 a5 a6"
                            "a8 a7 a7"
                            "a8 a9 a9";
    }
    .galeria1{
        grid-area: a1;
    }
    .galeria2{
        grid-area: a2;
    }
    .galeria3{
        grid-area: a3;
    }
    .galeria4{
        grid-area: a4;
    }
    .galeria5{
        grid-area: a5;
    }
    .galeria6{
        grid-area: a6;
    }
    .galeria7{
        grid-area: a7;
    }
    .galeria8{
        grid-area: a8;
    }
    .galeria9{
        grid-area: a9;
    }
    .img-galeria{ 
        animation-duration: 1s;
        animation-name: zoom;
        animation-delay: 3s;
    } 
    @keyframes zoom{
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(1.03);
        }
    }
    .h1-contacto{
        font-size: 60px;
    }
    .input-form-contacto{
        width: 500px;
    }
    .input-form-contacto:hover{
        background-color: #cecece;
    }
    .input-enviar-form{
        width: 250px;
    }
    .p-container-quienes-somos{
        width: 300px;
    }
    .p-quienes-somos{
        font-size: 18px;
        margin:20px;
    }
    .h1-sobre-nosotros{
        font-size: 40px;
    }
    .img-quienes-somos{
        height: 200px;
    }
    .ubicacion-item-container{
        height: 200px;
    }
    .marco{
        width: 300px;
        height: 300px;
        box-shadow: 4px 0px 0px #c31432;
        margin: 20px;
    }
    .carousel-item{
        width: 300px;
        height: 200px;
    }
    
    .nombre-trago{
        font-size: 18px;
    }
    .precio-trago{
        font-size: 16px;
    }
    .sobre-trago{
        font-size: 12px;
    
    }
    
        
}


@media screen and (max-width:767px){
    .nav-container{
        display: none;
    }
    #grid{  
    grid-template-rows: 330px auto 200px;
    }
    .img-item{
        height: 100px;
    }
    .header-container{
        height: 330px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 80px 150px 80px;
        grid-template-areas:"a1 a1 a1"
                        "a2 a3 a4"
                        "a5 a7 a8";
    }
    .navbar{
        grid-area: a1;
        padding: 0;
        height: 45px;
    }
    .container-fluid{
        background-color: hsl(0, 81%, 31%);
        padding: 0;
    }
    .navbar-nav{
        background-color: #8f8f8f4b;
    }
    .navbar-nav>a{
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;   
    }
    .h1-main{
        font-size: 30px;    
    }
    .h2-main{
        font-size: 18px;
    }
    .content-main{
        display: flex;
        flex-direction: column;
    }
    .carta{
        width: 250px;
        height: 250px;
    }
    .galeria{       
        width: 250px;
        height: 250px;
    }
    .h3-content-main{
        font-size: 20px;
    }
    .footer-block1{
        grid-template-areas:"a1 a2"
                            "a3 a4";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 10px;
    }
    .footer-left{
        grid-area: a1;
    }
    .footer-mid1{
        grid-area: a2;
    }
    .footer-mid2{
        grid-area: a3;
        margin-left: 20px;
    }
    .footer-rigth{
        grid-area: a4;
    }    
    .galeria-html{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,550px);
        grid-template-areas:"a1"
                            "a2"
                            "a3"
                            "a4"
                            "a5"
                            "a6"
                            "a7"
                            "a8"
                            "a9";
        justify-content: center;
    }
    .galeria1{
        grid-area: a1;
    }
    .galeria2{
        grid-area: a2;
    }
    .galeria3{
        grid-area: a3;
    }
    .galeria4{
        grid-area: a4;
    }
    .galeria5{
        grid-area: a5;
    }
    .galeria6{
        grid-area: a6;
    }
    .galeria7{
        grid-area: a7;
    }
    .galeria8{
        grid-area: a8;
    }
    .galeria9{
        grid-area: a9;
    }
    .img-galeria{ 
        animation-duration: 1s;
        animation-name: zoom;
        animation-delay: 3s;
    } 
    @keyframes zoom{
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(1.03);
        }
    }
    .h1-contacto{
        font-size: calc(30px+2vh);
    }
    .input-form-contacto{
        width: 200px;
    }
    .input-form-contacto:hover{
        background-color: #cecece;
    }
    .input-enviar-form{
        width: 150px;
        
    }
    .quienes-somos{
        flex-direction: column;
    }
    .p-container-quienes-somos{
        width: 300px;
        margin:20px;
    }
    .p-quienes-somos{
        font-size: 16px;
    }
    .h1-sobre-nosotros{
        font-size: 30px;
    }
    .img-quienes-somos{
        height: 200px;
    }
    .ubicacion-item-container{
        height: 200px;
        width: 300px;
    }
    .marco{
        width: 200px;
        height: 200px;
        box-shadow: 4px 0px 0px #c31432;
        margin: 20px;
    }
    .carousel-item{
        width: 200px;
        height: 100px;
    }
    
    .nombre-trago{
        font-size: 18px;
    }
    .precio-trago{
        font-size: 16px;
    }
    .sobre-trago{
        font-size: 12px;
    
    }
    .tragos{
        flex-direction: column;
    }
}


>>>>>>> 9de1fb22e45a857726e68b6ced85645bdba17ef3
