<<<<<<< HEAD
@import "partials/variables";
@import "partials/extend";
@import "partials/mixin";

.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsla(0, 0%, 9%, 0.664);
    height: 40px;
    .nav-list-item{
        a:hover{
        font-size: 17px;
        transition: 0.3s;
        color: #333333;
        }
    }
}

.carta{
    @include bloques-index_scss(url(../img/ver-la-carta.jpg));
}
.galeria{
    @include bloques-index_scss(url(../img/ver-karaoke.jpg));
}
.carta:hover{
    filter: brightness(100%);
    transition: 0.8s;
}
.galeria:hover{
    filter: brightness(100%);
    transition: 0.8s;
}


.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1{
        font-family: $tipografia1;
        color: $color_principal1;
        }
    h2{
        font-family: $tipografia1;
        margin-bottom: 30px;
        color: rgb(218, 153, 67);
    }
    .content-main{
        h3{
        font-family: $tipografia1;
         margin-bottom: 30px;
        color: $color_principal2;
        }
        button{
            background-color: transparent;
            border: 1px solid $color_principal3;
            height: 30px;
            width: 120px;
            a{
                text-decoration: none;
                color:$color_principal3;
                font-size: 18px;
                font-family: $tipografia1;
            }
    
        }
    }
}

.main-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-family: $tipografia1;
        color: $color_principal1;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        .input-form-contacto{
            margin: 5px;
            border: none;
            padding: 7px;
            font-family: $tipografia2;
            outline: none;
            border-bottom: #c31432 2px solid;
            color: $color_principal1;
        }
        input::placeholder{
            color: $color_principal1;
        }
        textarea{
            resize: none;
        }
        button{
            border: none;
            background-color: #c31432;
        }
    }
}

.footer-container{
    @include display-flex(column);
}
.seccion-carta{
    @include display-flex(column);
}
.quienes-somos{
    @include display-flex(row);
}

.img-slide{
    @extend .img;
}
.img-item-galeria{
    @extend .img;
    object-fit: cover;
}
.img-galeria{
    @extend .img;
}

.footer-block1{
    @extend .display-grid;
}
.galeria-html{
    @extend .display-grid;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    margin: 30px;
}
.main-sobre-nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        font-family: $tipografia1;
    }
    p{
        font-family: $tipografia1;
    }
}


.carousel-item{
    transition: 1s;
=======
@import "partials/variables";
@import "partials/extend";
@import "partials/mixin";

.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsla(0, 0%, 9%, 0.664);
    height: 40px;
    .nav-list-item{
        a:hover{
        font-size: 17px;
        transition: 0.3s;
        color: #333333;
        }
    }
}

.carta{
    @include bloques-index_scss(url(../img/ver-la-carta.jpg));
}
.galeria{
    @include bloques-index_scss(url(../img/ver-karaoke.jpg));
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1{
        font-family: $tipografia1;
        color: $color_principal1;
        }
    h2{
        font-family: $tipografia1;
        margin-bottom: 30px;
        color: rgb(218, 153, 67);
    }
    .content-main{
        h3{
        font-family: $tipografia1;
         margin-bottom: 30px;
        color: $color_principal2;
        }
        button{
            background-color: transparent;
            border: 1px solid $color_principal3;
            height: 30px;
            width: 120px;
            a{
                text-decoration: none;
                color:$color_principal3;
                font-size: 18px;
                font-family: $tipografia1;
            }
    
        }
    }
}

.main-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-family: $tipografia1;
        color: $color_principal1;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        .input-form-contacto{
            margin: 5px;
            border: none;
            padding: 7px;
            font-family: $tipografia2;
            outline: none;
            border-bottom: #c31432 2px solid;
            color: $color_principal1;
        }
        input::placeholder{
            color: $color_principal1;
        }
        textarea{
            resize: none;
        }
        button{
            border: none;
            background-color: #c31432;
        }
    }
}

.footer-container{
    @include display-flex(column);
}
.seccion-carta{
    @include display-flex(column);
}
.quienes-somos{
    @include display-flex(row);
}

.img-slide{
    @extend .img;
}
.img-item-galeria{
    @extend .img;
    object-fit: cover;
}
.img-galeria{
    @extend .img;
}

.footer-block1{
    @extend .display-grid;
}
.galeria-html{
    @extend .display-grid;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    margin: 30px;
}
.main-sobre-nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        font-family: $tipografia1;
    }
    p{
        font-family: $tipografia1;
    }
>>>>>>> 9de1fb22e45a857726e68b6ced85645bdba17ef3
}