<<<<<<< HEAD
.img{
    height: 100%;
    width: 100%;
}

.display-grid{
    display: grid;
    justify-items: center;
    align-items: center;
=======
.img{
    height: 100%;
    width: 100%;
}

.display-grid{
    display: grid;
    justify-items: center;
    align-items: center;
>>>>>>> 9de1fb22e45a857726e68b6ced85645bdba17ef3
}