<<<<<<< HEAD
$tipografia1: "Source Sans Pro", sans-serif;
$tipografia2: 'Roboto', sans-serif;
$color_principal1: black;
$color_principal2: white;
=======
$tipografia1: "Source Sans Pro", sans-serif;
$tipografia2: 'Roboto', sans-serif;
$color_principal1: black;
$color_principal2: white;
>>>>>>> 9de1fb22e45a857726e68b6ced85645bdba17ef3
$color_principal3: whitesmoke;